@model TV.web.ViewModels.ChangePasswordViewModel

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row-fliud" style="padding-left:12px; padding-right:18px;">
        <h4 style="color: rgb(0, 148, 255); padding-left: 9px;">Change password</h4><hr />
        <div class="span5" style="padding-top:15px;
                padding-bottom:15px;
                padding-right:25px;
                padding-left:25px;
                -moz-box-shadow:3px 3px 5px 6px #ccc;
                -webkit-box-shadow:3px 3px 5px 6px #ccc;
                box-shadow:3px 3px 5px 5px rgb(184, 184, 184);
                background-color:rgb(224,224,224);-moz-border-radius: 15px;
                border-radius: 15px;">

                
                    <div>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)&nbsp @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div >
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword)&nbsp @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div >
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)&nbsp @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <input class="btn btn-primary " type="submit" value="Change password" />
                    <br />
                    <br />
                    <a class="btn btn-danger" href="~/account/manage/">Cancel</a>
                    @Html.HiddenFor(m => m.UserId)
                    @Html.HiddenFor(m => m.Token)


               
                </div>
        </div>
   
}   
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    @*<fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)&nbsp @Html.ValidationMessageFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)&nbsp @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)&nbsp @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input class="btn btn-primary "type="submit" value="Change password" />
        <br />
        <br />
        <a class="btn" href="~/account/manage/">Cancel</a>
    </fieldset>*@
}
