@model TV.web.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("ChangePassword", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)&nbsp @Html.ValidationMessageFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)&nbsp @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)&nbsp @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input class="btn btn-primary "type="submit" value="Change password" />
        <br />
        <br />
        <a class="btn" href="~/account/manage/">Cancel</a>
    </fieldset>
}
