@using Recaptcha.Web.Mvc;
@model TV.web.ViewModels.DisassociateUserViewModel

@{
    ViewBag.Title = "Disassociate";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <div class="row" >
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    Delete your account
                </div>
            </div>
            <div class="panel-body" style="padding-left: 15px; padding-bottom: 10px; padding-right: 15px;">
                <div class="row">
                    <div class="col-lg-3">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-3">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-3">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-8">
                        @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean);
                    </div>
                </div>
            <br />
            <br />
            <input class="btn btn-primary " type="submit" value="Delete Account" />
            <br />
            <br />
            <a class="btn btn-danger" href="~/home/index/">Cancel</a>
            @Html.HiddenFor(m => m.UserId)   
            </div>
        </div>
    </div>
</div>
}
    

