@model TV.web.ViewModels.DisassociateUserViewModel

@{
    ViewBag.Title = "Disassociate";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="row-fliud" style="padding-left:12px; padding-right:18px;">
        <h4 style="color: rgb(0, 148, 255); padding-left: 9px;">Delete Account</h4><hr />
        <div class="span5" style="padding-top:15px;
                padding-bottom:15px;
                padding-right:25px;
                padding-left:25px;
                -moz-box-shadow:3px 3px 5px 6px #ccc;
                -webkit-box-shadow:3px 3px 5px 6px #ccc;
                box-shadow:3px 3px 5px 5px rgb(184, 184, 184);
                background-color:rgb(224,224,224);-moz-border-radius: 15px;
                border-radius: 15px;">

                <form class="form-horizontal" role="form">
                    <div class="form-group has-error has-success">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-group has-error has-success">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <br />
                    <br />
                    <input class="btn btn-primary " type="submit" value="Delete Account" />
                    <br />
                    <br />
                    <a class="btn btn-danger" href="~/account/manage/">Cancel</a>
                    @Html.HiddenFor(m => m.UserId)
                </form>
            </div>
        </div>
    
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        
@*<div class="row">
    <div class="span4">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="span4">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
</div>
    <br />
    <br />
    <input class="btn btn-primary "type="submit" value="Delete Account" />
    <br />
    <br />
    <a class="btn" href="~/account/manage/">Cancel</a>
    @Html.HiddenFor(m => m.UserId)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
