@model TV.web.ViewModels.DisassociateUserViewModel

@{
    ViewBag.Title = "Disassociate";
}

<h4>Delete Your Account</h4>
<br />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    
<div class="row">
    <div class="span4">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="span4">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
</div>
    <br />
    <br />
    <input class="btn btn-primary "type="submit" value="Delete Account" />
    <br />
    <br />
    <a class="btn" href="~/account/manage/">Cancel</a>
    @Html.HiddenFor(m => m.UserId)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
