@using Recaptcha.Web.Mvc;
@model TV.web.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
}

<h3 class="col-lg-offset-1">Forgot  Password</h3>
<div class="row" style="padding-left: 100px">
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-5" style="padding-top:15px;
                            padding-bottom:15px;
                            padding-right:25px;
                            padding-left:45px;
                            -moz-box-shadow:3px 3px 5px 5px #ccc;
                            -webkit-box-shadow:3px 3px 5px 6px #ccc;
                            box-shadow:3px 3px 5px 5px rgb(184, 184, 184);
                            background-color:rgb(224,224,224);
                            -moz-border-radius: 15px;
                            border-radius: 15px;">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)

            <div class="row">
                <div class="span6">
                    @Html.LabelFor(m => m.Email)
                    @Html.EditorFor(m => m.Email)<br />
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    @Html.LabelFor(m => m.UserName)
                    @Html.EditorFor(m => m.UserName)<br />
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-8">
                    @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean);
                </div>
            </div>
            <br />
            <input type="submit" class="btn btn-primary" value="Submit Request" />

        }

    </div>
</div>