@model TV.web.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="row">
        <div class="span6">
            @Html.LabelFor(m => m.Email)
            @Html.EditorFor(m => m.Email)<br />
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="row">
        <div class="span6">
            @Html.LabelFor(m => m.UserName)
            @Html.EditorFor(m => m.UserName)<br />
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Submit Request" />

}