@using Recaptcha.Web.Mvc;
@model TV.web.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "";
}
<br />
<br />
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Password Reset Request
                    </div>
                </div>
                <div class="panel-body" style="padding-left: 15px; padding-bottom: 10px; padding-right: 15px;">
                    <div class="row">
                        <div class="col-lg-7">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { style = "width:280px;" })<br />
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-7">
                            @Html.LabelFor(m => m.UserName)
                            @Html.EditorFor(m => m.UserName)<br />
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-7">
                            @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean);
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-7">
                            <input type="submit" class="btn btn-primary" value="Submit Request" />
                        </div>
                    </div>    
                </div>
            </div>
        </div>
}