@model TV.web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
 <h3>Log in to your account</h3>
</hgroup>
<div class="span7" style="padding-top:15px;
                            padding-bottom:15px;
                            padding-right:25px;
                            padding-left:25px;  
                            -moz-box-shadow:3px 3px 5px 5px #ccc;
                            -webkit-box-shadow:3px 3px 5px 6px #ccc;
                            box-shadow:3px 3px 5px 5px rgb(184, 184, 184); 
                            background-color:rgb(224,224,224);
                            -moz-border-radius: 15px;
                            border-radius: 15px;">
<section id="loginForm">

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <fieldset>
        <legend></legend>
        <p>
            @Html.ActionLink("Register", "Register") if you don't have an account<br />
            @Html.ActionLink("Forgot Password", "ForgotPassword") if you forgot your password
            <br />
            <br />
        </p>
        
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            
        
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)<br />
           
        
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
           
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="Log in" />
    </fieldset>
    
}
</section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
