@model TV.web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-8" style="padding-left: 100px">
        <h3>Create a new account</h3>
    </div>
</div>
<br />
<div class="row" style="padding-left: 100px">
    <div class="col-lg-5 col-md-8 col-sm-6 col-xs-8" style="padding-top:15px;
                            padding-bottom:15px;
                            padding-right:25px;
                            padding-left:45px;
                            -moz-box-shadow:3px 3px 5px 5px #ccc;
                            -webkit-box-shadow:3px 3px 5px 6px #ccc;
                            box-shadow:3px 3px 5px 5px rgb(184, 184, 184);
                            background-color:rgb(224,224,224);
                            -moz-border-radius: 15px;
                            border-radius: 15px;">
       

            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)

                <fieldset>
                    <legend></legend>
                    
                   @Html.ActionLink("Register", "Register", "Account" ) &nbsp&nbsp&nbsp If you don't have an account
                        <br />
                        <br />
                    @Html.ActionLink("Forgot Password", "ForgotPassword") &nbsp&nbsp&nbsp If you forgot your password
                        <br />
                        <br />
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                        <br />
                        <br />
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                        <br />
                        <br />
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                        <br />
                        <br />
                        <input class="btn btn-primary" type="submit" value="Log in" />
</fieldset>

            }
        
    </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
