@using Recaptcha.Web.Mvc;

@model TV.web.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}
<head><title> Tenants Village Housing Inspection Code Inforcement Renter Law Teneant Law</title></head>
<br />
<br />
<br />
<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                Register your new Account
            </div>
        </div>
        <div class="panel-body" style="padding-left: 15px; padding-bottom: 10px; padding-right: 15px;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)


                    <div class="row">
                        <div class="col-lg-6">
                            @Html.LabelFor(m => m.UserName)<br />
                            @Html.TextBoxFor(m => m.UserName)&nbsp;@Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.LabelFor(m => m.Email) <br />
                            @Html.TextBoxFor(m => m.Email, new { style = "width: 200px;" })&nbsp;@Html.ValidationMessageFor(m => m.Email)

                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.LabelFor(m => m.Password)<br />
                            @Html.PasswordFor(m => m.Password)&nbsp;@Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-6">
                            <br />
                            @Html.LabelFor(m => m.ConfirmPassword)<br />
                            @Html.PasswordFor(m => m.ConfirmPassword)&nbsp;@Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean);
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-lg-6">
                            <input class="btn btn-primary " type="submit" value="Register" />
                        </div>
                    </div>

            }
        </div>
    </div>
  </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
