@model TV.web.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="row">
        <div class="span6">
            @Html.LabelFor(m => m.ResetToken)
            @Html.EditorFor(m => m.ResetToken)<br />
            @Html.ValidationMessageFor(m => m.ResetToken)
        </div>
    </div>
    <div class="row">
        <div class="span6">
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password)<br />
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="row">
        <div class="span6">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.EditorFor(m => m.ConfirmPassword)<br />
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="row">
        <div class="span6">
           <input type="submit" class="btn btn-primary" value="Reset" />
        </div>
    </div>

}