@using Recaptcha.Web.Mvc;
@model TV.web.ViewModels.VerifyEmailCodeViewModel

@{
    ViewBag.Title = "VerifyEmailCode";
}
<br />
<br />
@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
   <div class="col-lg-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    Verify Your Account
                </div>
            </div>
            <div class="panel-body" style="padding-left: 15px; padding-bottom: 10px; padding-right: 15px;">
            <div class="row">
                <div class="col-lg-4">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-4">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-lg-8">
                    @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-lg-4">
                    <input class="btn btn-primary " type="submit" value="Verify" />
                </div>
            </div>
        </div>
    </div>
</div>
     @Html.HiddenFor(m => m.UserId)
     @Html.HiddenFor(m => m.UserName)

}