@model TV.web.ViewModels.CreatePostViewModel

@{
    ViewBag.Title = "Create a New Post";
}

<head>
    <title>

    </title>

    <link href="@Url.Content("~/Content/RateIt/rateit.css")" rel="stylesheet" type="text/css" />

</head>

@section scripts{
        <script src="@Url.Content("~/Scripts/RateIt/jquery.rateit.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/RateIt/jquery.rateit.min.js.map")" type="text/javascript"></script>

    <script>

        $(document).ready(function () {
            $('#sideNav').children('li').each(function () {
                $(this).removeClass('active');
            });

            $('#crPostTab').addClass('active');
        });

        $('#rating .rateit').bind('rated', function (e) {
            var ri = $(this);
            var value = ri.rateit('value');
            //alert(value);
            var postId = '@Model.Id';
            console.log(postId);
            $.ajax({
                url: '@Url.Content("~/Post/Rate/")',
                data: { postId: postId, value: value },
                type: 'POST',
                success: function (data) {
                    alert(data);
                },
                error: function (data) {
                   console.log(e.error);
                }
            });
        });

    </script>
    }

@using (Html.BeginForm()) {
@Html.AntiForgeryToken()
@Html.ValidationSummary(false)
    
    if (@Model.IsEDitMode == true) { 
        <h3 style="text-align:center; color: rgb(0, 148, 255);"><strong>Edit</strong></h3>
    
        }
    
  <div class="container" style="padding-left:12px; padding-right:18px;">
        <div class="span5" style="padding-top: 15px; padding-bottom: 15px; padding-right: 25px; padding-left: 25px; -moz-box-shadow: 3px 3px 5px 6px #ccc; -webkit-box-shadow: 3px 3px 5px 6px #ccc; box-shadow: 3px 3px 5px 5px rgb(184, 184, 184); background-color: rgb(128,128,128); -moz-border-radius: 15px; border-radius: 15px;">
        <form class="form-inline" role="form">
        @if (Model.IsEDitMode == true)
        {
            <div id="rating">
                <input type="range" value="@Model.Rating" step="0.25" id="backing4">
                <div class="rateit"  data-rateit-backingfld="#backing4"
                     data-rateit-resetable="false" data-rateit-ispreset="true"
                     data-rateit-min="0" data-rateit-max="10">
                </div>
            </div>
        }
        else { 
            
            <div id="rating">
                <input type="range" value="0" step="0.25" id="backing4">
                <div class="rateit"  data-rateit-backingfld="#backing4"
                     data-rateit-resetable="false" data-rateit-ispreset="true"
                     data-rateit-min="0" data-rateit-max="10">
                </div>
            </div>

        }
            <div class="form-group has-error has-success">
                <div class="span4">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title)
                    <br />@Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>
            <hr />
            <div class="form-group has-error has-success" >
                <div class="span4">
                    @Html.LabelFor(m => m.LandLord)
                    @Html.TextBoxFor(m => m.LandLord)
                    <br />@Html.ValidationMessageFor(m => m.LandLord)
                </div>
                <br />
                <div class="span4">
                    @Html.LabelFor(m => m.LLemail)
                    @Html.TextBoxFor(m => m.LLemail)
                    <br />@Html.ValidationMessageFor(m => m.LLemail)
                </div>
                <hr />
                <div class="row-fluid">
                    <div class="span3">
                        @Html.LabelFor(m => m.BuildingNumber)
                        @Html.TextBoxFor(m => m.BuildingNumber, new { style = "width:60px;" })
                        <br />@Html.ValidationMessageFor(m => m.BuildingNumber)
                    </div>
                    <br />
                    <div class="span2">
                        @Html.LabelFor(m => m.AptNumber)
                        @Html.TextBoxFor(m => m.AptNumber, new { style = "width:60px;" })
                        <br />@Html.ValidationMessageFor(m => m.AptNumber)
                    </div>
                    <br />
                    <div class="span4">
                        @Html.DropDownListFor(m => m.Street, new SelectList(Model.StreetList), "Please Select...")
                    </div>
                </div>
                <hr />
                <div class="row-fluid">
                    <div class="span5">
                        @Html.LabelFor(m => m.LeaseYear)
                        @Html.TextBoxFor(m => m.LeaseYear, new { style = "width:70px" })
                        <br />@Html.ValidationMessageFor(m => m.LeaseYear)
                    </div>
                    <br />
                    <div class="span5">
                        @Html.LabelFor(m => m.Rent)
                        <div class="input-prepend input-append">
                            <span class="add-on"><b style="color: green">$</b></span>@Html.TextBoxFor(model => model.Rent, new { style = "width:70px" })<span class="add-on"><b style="color: green">.00</b></span>
                        </div>
                        <br />@Html.ValidationMessageFor(model => model.Rent)
                    </div>       
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        @Html.LabelFor(m => m.Deposit)
                        <div class="input-prepend input-append">
                            <span class="add-on"><b style="color: green">$</b></span>@Html.TextBoxFor(model => model.Deposit, new { style = "width:70px" })<span class="add-on"><b style="color: green">.00</b></span>

                        </div>
                        <br />@Html.ValidationMessageFor(model => model.Deposit)
                    </div>
                    <div class="span5">
                        @Html.LabelFor(m => m.AmountKept)
                        <div class="input-prepend input-append">
                            <span class="add-on"><b style="color: red">$</b></span>@Html.TextBoxFor(model => model.AmountKept, new { style = "width:70px" })<span class="add-on"><b style="color: red">.00</b></span>

                        </div>
                        <br />@Html.ValidationMessageFor(model => model.AmountKept)
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span10">
                        @Html.LabelFor(m => m.Post)
                        @Html.TextAreaFor(m => m.Post, new { @cols = 80, @rows = 10 })
                        <br />@Html.ValidationMessageFor(m => m.Post)
                    </div>
                </div>
                <br />
                <div id="showImages" class="row-fluid">
                    <div class="span10">
                        @if (Model.Images != null && Model.IsEDitMode == true)
                        {
                            foreach (var x in Model.Images)
                            {
                                <br />
                                <div class="row-fluid">
                                    <div class="span10">

                                        <img src="@x.ImageUrl" style="width:500px;height:300px" />&nbsp&nbsp&nbsp&nbsp
                                        
                                         @Html.ActionLink("Delete Photo", "DeletePhoto", "Post", new { photoId = x.Id }, new { @class="btn-warning btn sm"})
                                       
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <hr />
                <h2>Upload Pictures</h2>
                <hr />
                @*this is a total hack to get around the nested forms problem*@
                <form>

                    <fieldset><legend></legend></fieldset>
                </form>
                <div class="row-fluid">
                    <iframe class="span4" style="height:200px;border:none;overflow:hidden;" src="@Url.Content("~/upload/picupload/")?postId=@Model.Id"></iframe>
                    <iframe class="span4" style="height:200px;border:none;overflow:hidden;" src="@Url.Content("~/upload/picupload/")?postId=@Model.Id"></iframe>
                    <iframe class="span4" style="height:200px;border:none;overflow:hidden;" src="@Url.Content("~/upload/picupload/")?postId=@Model.Id"></iframe>
                </div>
                <ul>
                    @if (Model.Comments != null && Model.IsEDitMode == true)
                    {
                        foreach (var x in Model.Comments)
                        {
                            <li style="padding-bottom:10px;">
                                @Html.ActionLink(x.Subject, "ViewComment", "Comment", new { threadId = x.Id }, new
                       {
                           @style = "color: white;",
                           @data_toggle = "modal",
                           @data_target = "#viewCommentModal",
                           @class = "btn btn-sm btn-primary"
                       })       @*TODO Encodes*@
                                @Html.Encode(x.Author) &nbsp&nbsp&nbsp @Html.Encode(x.EntryDate.ToShortDateString())
                                @Html.ActionLink("Delete Comment", "DeleteComment", "Post", new { commentId = x.Id }, new { @class="btn-warning btn-sm"})
                            </li>
                        }
                    }
                </ul>
                <div class="row-fluid">
                    <input class="btn btn-primary" type="submit" value="Submt" /><br />
                </div>
                <br />
                <div class="row-fluid">
                    <a class="btn btn-danger" href='~/post/cancelcreate/@Model.Id'>Cancel</a>
                </div>

                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.Id)
            </div>
        </form>
     </div>
</div>
<div class="modal fade" id="viewCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        @Html.Partial("_EditViewComment")
    </div>
}                



                


