@model TV.web.ViewModels.ViewPostViewModel
@{
    ViewBag.Title = "Edit Success";
}

<h2>Success!!</h2>
<br />
<p>
    Your changes have been saved successfully, your post is displayed below
</p>
<hr />
<div class="row">
    <div class="span3">
        <em>@Html.LabelFor(m => m.LandLord)</em>
        &nbsp&nbsp @Html.DisplayFor(m => m.LandLord)
    </div>
    <div class="span3">
        <em>@Html.LabelFor(m => m.LLemail)</em>
        &nbsp&nbsp @Html.DisplayFor(m => m.LLemail)
    </div>
</div>
<br />
<div class="row">
    <div class="span3">
            <b><em>@Html.LabelFor(m => m.BuildingNumber)</em></b>
           &nbsp &nbsp @Html.DisplayFor(model => model.BuildingNumber)
     </div>
        <div class="span3">
            <b><em>@Html.LabelFor(m => m.AptNumber)</em></b>
            &nbsp &nbsp @Html.DisplayFor(model => model.AptNumber)
     </div>
    <div class="span3">
            <b><em>@Html.LabelFor(m => m.Street)</em></b>
            &nbsp &nbsp @Html.DisplayFor(model => model.Street)
     </div>
</div>
<br />
<div class="row">
    <div class="span3">
        <div class="prepend append">
            <b><em>@Html.LabelFor(m => m.Rent)</em></b>&nbsp&nbsp<span class="add-on"><b>$</b></span>@Html.DisplayFor(model => model.Rent, new { @class = "span2" })<span class="add-on">.00</span>
        </div>
    </div>
    <div class="span3">
        <div class="prepend append">
            <b><em>@Html.LabelFor(m => m.Deposit)</em></b>&nbsp&nbsp<span class="add-on"><b>$</b></span>@Html.DisplayFor(model => model.Deposit, new { @class = "span2" })<span class="add-on">.00</span>
        </div>
    </div>
    
</div>
<br />
<div class="row">
    <div class="span3">
        <em>@Html.LabelFor(m => m.LeaseYear)</em>
        &nbsp&nbsp @Html.DisplayFor(m => m.LeaseYear)
    </div>
    <div class="span3">
        <div class="prepend append">
            <b><em>@Html.LabelFor(m => m.AmountKept)</em></b>&nbsp&nbsp<span class="add-on"><b>$</b></span>@Html.DisplayFor(model => model.AmountKept, new { @class = "span2" })<span class="add-on">.00</span>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="span3">
        <em>@Html.LabelFor(m => m.Post)</em>
        &nbsp&nbsp @Html.DisplayFor(m => m.Post, new { @cols = 80, @rows = 10 })
    </div>
</div>
    @if (Model.Images != null)
    {
        foreach (var x in Model.Images)
        {
            <br />
            <div class="row">
                 <div class="span10">
                     
                    <img src="@x.ImageUrl"  style="width:500px;height:300px"/>
                     
                 </div>
            </div>
        }
    }
    