@model TV.web.ViewModels.ManageViewModel
@{
    ViewBag.Title = "Manage Account";
}

<head>
    <title></title>
    <link href="@Url.Content("~/Content/dataTables/Media/Css/demo_table.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/RateIt/rateit.css")" rel="stylesheet" type="text/css" />
</head>





@if (Request.IsAuthenticated)
{
    if (@Model.needStatusMessage == true)
    {
        <div class="alert alert-success alert-dismissable col-lg-8 col-lg-offset-2 col-md-9 col-md-offset-2">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p>@Model.statusMessage</p>
        </div>
        @*<div style="text-align:center; color:green;" class="row"><h3>@Model.statusMessage</h3> </div>*@
    <br />
    }
<div class="row">
    <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4 style="padding-left: 9px;">Your Posts</h4>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="myDataTable" class="display ">
                        <thead>
                            <tr style="color:#d5d7bf">
                                <th></th>
                                <th>Landlord</th>
                                <th>Title</th>
                                <th>Street</th>
                                <th>Rating</th>

                            </tr>
                        </thead>
                        <tbody style="text-align:center;"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4 style="padding-left: 9px;">Your Bookmarks</h4>
                </div>
            </div>
            <div class="panel-body">
                <div class=" table table-responsive">
                    <table class="display ">
                        <thead>
                            <tr style="color:#d5d7bf">
                                <th></th>
                                <th>Landlord</th>
                                <th>Title</th>
                                <th>Street</th>
                                <th>Rating</th>

                            </tr>
                        </thead>
                        <tbody style="text-align:center;">
                            @for (int i = 0; i < Model.Bookmarks.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <a class="btn btn-mini" href="@Url.Content("~/Search/ViewPost/")@Model.Bookmarks[i].Post.Id">View</a>
                                        <a class="btn btn-mini" href="@Url.Content("~/UserBookmark/DeleteBookmark/?postId=")@Model.Bookmarks[i].Post.Id">Delete</a>
                                    </td>
                                    <td>@Model.Bookmarks[i].Post.LandLord</td>
                                    <td>@Model.Bookmarks[i].Post.Title</td>
                                    <td>@Model.Bookmarks[i].Post.Street</td>
                                    <td><div id="rating">
                                            <div class="rateit" data-rateit-max="10" data-rateit-value="@Model.Bookmarks[i].Post.Rating" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

}    
    




@section Scripts {
    <script src="@Url.Content("~/Scripts/RateIt/jquery.rateit.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/RateIt/jquery.rateit.min.js.map")" type="text/javascript"></script>
    <script>

        $(document).ready(function () {
            $('#navTab').each(function () {
                $(this).removeClass('active');
            });

            $('#postTab').addClass('active');

            var oTable = $('#myDataTable').dataTable({
                "bServerSide": true,
                "sAjaxSource": '@Url.Content("~/Search/UserPostsAjaxHandler")',
                "bProcessing": true,
                "aoColumns": [
                        {
                            "sName": "ID",
                            "bSearchable": false,
                            "bSortable": false,
                            "fnRender": function (oObj) {
                                return '<div class="row"><div class="span3"><a class="btn btn-mini" href=@Url.Content("~/Search/ViewPost/")' + oObj.aData[0] + '\>View</a><a class="btn btn-mini" href=@Url.Content("~/Post/Edit/")' + oObj.aData[0] + '\>Edit</a><a class="btn btn-mini" href=@Url.Content("~/Post/Delete/")' + oObj.aData[0] + '\>Delete</a>';
                            }
                        },
			            { "sName": "Landlord" },
			            { "sName": "Title" },
			            { "sName": "Street" },
                        {
                            "sName": "Rating",
                            "fnRender": function (oObj) {
                                var htmlString = "";
                                var loopIndex = oObj.aData[4]
                                while (loopIndex > 0) {
                                    if (loopIndex == .5) {
                                        htmlString = htmlString + '<i class="fa fa-star-half-full" style="color:gold;"></i>';
                                        return htmlString;
                                    }
                                    htmlString = htmlString + '<i class="fa fa-star" style="color:gold;"></i>';
                                    loopIndex--;
                                }
                                return htmlString;
                            }
                        }
                       
                ]
            });
        });


    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
