@model TV.web.ViewModels.ViewPostViewModel

<head>
    <title> Tenants Village Housing Inspection Code Inforcement Renter Law Teneant Law</title>

    <link href="@Url.Content("~/Content/RateIt/rateit.css")" rel="stylesheet" type="text/css" />

    <style>
        #largeImgPanel {
            text-align: center;
            visibility: hidden;
            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(100,100,100, 0.5);
        }
    </style>

</head>

@section scripts{
    <script src="@Url.Content("~/Scripts/RateIt/jquery.rateit.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/RateIt/jquery.rateit.min.js.map")" type="text/javascript"></script>
    <script>

        $(document).ready(function () {
            $('#bookmarkIcon').hide();

        });

    $('body').on('hidden.bs.modal', '.modal', function () {
        console.log("Goolviyygli;hu");
        $(this).removeData('bs.modal');
    });

    function showImage(imgName) {
        //console.log(imgName);
        document.getElementById('largeImg').src = imgName;
        showLargeImagePanel();
        unselectAll();
    }
    function showLargeImagePanel() {
        document.getElementById('largeImgPanel').style.visibility = 'visible';
    }
    function unselectAll() {
        if (document.selection) document.selection.empty();
        if (window.getSelection) window.getSelection().removeAllRanges();
    }
    function hideMe(obj) {
        obj.style.visibility = 'hidden';
    }

    function Bookmark() {
        
        var postId = '@Model.Id';
        console.log(postId);
        $.ajax({
            url: '@Url.Content("~/UserBookmark/Bookmark/")',
            data: { postId: postId },
            type: 'POST',
            success: function (data) {
                $('#bookmarkButton').hide();
                $('#bookmarkIcon').show();   
            },
            error: function (data) {
                console.log(e.error);
            }
        });
    }

    </script>
}
<div class="body">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title" style="padding-left:100px;">
                    <strong>@Html.DisplayFor(m => m.Title)</strong>

                </div>
            </div>
            <div class="panel-body" style="padding-left: 15px; padding-bottom: 10px; padding-right: 15px;">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-5 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-4 col-xs-5 col-xs-offset-4">
                        @if (Model.IsBookmarked != true)
                        {
                        <button id="bookmarkButton" class="btn btn-success" onclick="Bookmark()">Bookmark Post</button>
                        <div id="bookmarkIcon" style="color:green"><i class="fa fa-check fa-2x" style="color:green"></i>&nbsp;<strong><em>Bookmarked</em></strong></div>

                        }
                        else
                        {
                        <div style="color:green"><i class="fa fa-check fa-2x" style="color:green"></i>&nbsp;<strong><em>Bookmarked</em></strong></div>
                        }
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Landlord/Management Company Info
                                </div>
                            </div>
                            <div class="panel-body" style="padding-left: 15px; padding-bottom: 10px; padding-right: 15px;">
                                <a class="btn btn-success"  href="@Url.Content("~/Post/NearMe/?postId="+ Model.Id)">Map Me</a>
                                <div class="form-group has-error has-success">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            @Html.LabelFor(m => m.LandLord)<br />
                                            @Html.DisplayFor(m => m.LandLord)
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.LabelFor(m => m.LLemail)<br />
                                            @Html.DisplayFor(m => m.LLemail)

                                        </div>
                                    </div>
                                    <div class="col-lg-6 hidden-sm hidden-xs" style="float: right;">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    Rating
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <input type="range" value="@Model.Rating" step="0.25" id="backing4">
                                                    <div class="rateit" data-rateit-backingfld="#backing4" data-rateit-readonly="true" data-rateit-resetable="false" data-rateit-ispreset="true"
                                                         data-rateit-min="0" data-rateit-max="10">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="row">
                                        <div class="col-lg-4">
                                            @Html.LabelFor(m => m.BuildingNumber)<br />
                                            @Html.DisplayFor(m => m.BuildingNumber, new { style = "width:80px;" })

                                        </div>

                                        <div class="col-lg-2">
                                            @Html.LabelFor(m => m.AptNumber)<br />
                                            @Html.DisplayFor(m => m.AptNumber, new { style = "width:80px;" })

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            @Html.LabelFor(m => m.Street)<br />
                                            @Html.DisplayFor(m => m.Street, new { style = "width:200px;" })


                                        </div>
                                        <div class="col-lg-2">
                                            @Html.LabelFor(m => m.ZipCode)<br />
                                            @Html.DisplayFor(m => m.ZipCode, new { style = "width:80px;" })


                                        </div>
                                        <div class="col-lg-3">
                                            @Html.LabelFor(m => m.City)<br />
                                            @Html.DisplayFor(m => m.City)


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row hidden-lg hidden-md">
                            <div class="col-lg-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            Rating
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="rateit" data-rateit-backingfld="#backing4" data-rateit-readonly="true" data-rateit-resetable="false" data-rateit-ispreset="true"
                                                 data-rateit-min="0" data-rateit-max="10">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Pictures
                                </div>
                            </div>
                            <div class="panel-body" style="padding-left: 15px; padding-bottom: 10px; padding-right: 15px;">
                                <div id="showImages" class="row">
                                    <div class="col-lg-10">
                                        @if (Model.Images != null)
                                        {
                                        foreach (var x in Model.Images)
                                        {
                                        <div class="col-lg-4 col-md-3" style="padding-bottom:10px;">

                                            <img  class="thumbnail" src="@x.ImageUrl" onclick="showImage('@x.ImageUrl')" style="cursor: pointer; width:145px;height:120px; padding-bottom:6px;" />&nbsp;

                                        </div>

                                        }
                                        }
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Post
                                </div>
                            </div>
                            <div class="panel-body" style="padding-left: 15px; padding-bottom: 10px; padding-right: 15px;">
                                <div class="row">
                                    <div class="col-lg-10 table-responsive">
                                        @Html.LabelFor(m => m.Post)<strong>:</strong><br />
                                        @Html.DisplayFor(m => m.Post, new { @cols = 100, @rows = 5 })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Financial
                                </div>
                            </div>
                            <div class="panel-body" style="padding-left: 15px; padding-bottom: 10px; padding-right: 15px;">
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.LeaseYear)<br />
                                        @Html.DisplayFor(m => m.LeaseYear, new { style = "width:70px" })

                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Rent)<br />
                                        <div class="input-prepend input-append">
                                            <span class="add-on"><b style="color: green">$</b></span>@Html.DisplayFor(model => model.Rent, new { style = "width:70px" })<span class="add-on"><b style="color: green">.00</b></span>
                                        </div>

                                    </div>

                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Deposit)<br />
                                        <div class="input-prepend input-append">
                                            <span class="add-on"><b style="color: green">$</b></span>@Html.DisplayFor(model => model.Deposit, new { style = "width:70px" })<span class="add-on"><b style="color: green">.00</b></span>

                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.AmountKept)<br />
                                        <div class="input-prepend input-append">
                                            <span class="add-on"><b style="color: red">$</b></span>@Html.DisplayFor(model => model.AmtKept, new { style = "width:70px" })<span class="add-on"><b style="color: red">.00</b></span>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Comments
                            </div>
                        </div>
                        <div class="panel-body" style="padding-left: 15px; padding-bottom: 10px; padding-right: 15px;">
                            
                                <ul>
                                    @if (Model.Comments != null)
                                    {
                                    foreach (var x in Model.Comments)
                                    {
                                    <li style="padding-bottom:10px;">
                                        @Html.ActionLink(x.Subject, "ViewComment", "Comment", new { threadId = x.Id }, new
                                        {
                                        @style = "color: white;",
                                        @data_toggle = "modal",
                                        @data_target = "#viewCommentModal",
                                        @class = "btn btn-sm btn-success"
                                        })
                                        @Html.Encode(x.Author) &nbsp&nbsp&nbsp @Html.Encode(x.EntryDate.ToShortDateString())
                                    </li>
                                    }
                                    }
                                </ul>

                                <div class="row " style="padding-right:15px;">
                                    <button class="btn btn-primary btn-sm" style="float:right;" data-toggle="modal" data-target="#myModal">
                                        Comment
                                    </button>
                                   
                                </div>
                            @Html.ActionLink("Map Me", "ViewMapSinglePost", "Post", new { postId = Model.Id }, new
                                        {
                                            @style = "color: white;",
                                            @data_toggle = "modal",
                                            @data_target = "#viewMapModal",
                                            @class = "btn btn-sm btn-success"
                                        })
                            <div class="modal fade" id="viewMapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                @Html.Partial("_ViewMap")
                            </div>
                            </div>
                            
                        </div>
                       </div>
                    </div>
                </div>
        <div class="table-responsive" id="largeImgPanel" onclick="hideMe(this);">
            <img id="largeImg" style="height: 60%; margin: 0; padding: 0;" />
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add a comment</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("_CreateComment")
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="viewCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            @Html.Partial("_ViewComment")
        </div>
      </div>
    </div>

               