@model TV.web.ViewModels.MessageViewModel

<html>  
      
<style>
    .input-validation-error
    {
        border: solid 2px red;
    }

    #message
    {
        padding: 5px;
        color:red;
    }

</style>

<h2 style="color:darkblue">Create a New Thread</h2>
    <br />
    <br />


    @using (Html.BeginForm())
    {
    
        @Html.ValidationSummary(false)
    
    <body>
        <div class="row">
            <div class="span8">
                @Html.LabelFor(m => m.Recipient) &nbsp
                @Html.EditorFor(m => m.Recipient) &nbsp&nbsp* optional, to send notification
            </div>
        </div>
        <br />
        <div class="row">
            <div class="span6">
                @Html.LabelFor(m => m.Subject) &nbsp @Html.ValidationMessageFor(m => m.Subject)
                @Html.EditorFor(m => m.Subject)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="span6">
                @Html.LabelFor(m => m.Body) &nbsp @Html.ValidationMessageFor(m => m.Body)
                @Html.TextAreaFor(m => m.Body)
            </div>
        </div>
        <br />

        <input class="btn btn-primary "type="submit" value="Create Thread" />

   

    </body>
    }
</html>
    