@model TV.web.ViewModels.ViewPostViewModel
@{
    ViewBag.Title = "Home";
}

        <style>
            .shadow {
                -moz-box-shadow:    3px 3px 5px 6px #ccc;
                -webkit-box-shadow: 3px 3px 5px 6px #ccc;
                 box-shadow:         3px 3px 5px 6px #ccc;
            }
        </style>

        <link href="@Url.Content("~/Content/dataTables/Media/Css/demo_table.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/home.css")" rel="stylesheet" type="text/css" />



@section Scripts {

     <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/JavaScript1.js")" type="text/javascript"></script>
     
    <script>

        document.getElementById("pic_0").setAttribute("src", '@Model.Pic_0');
        document.getElementById("pic_1").setAttribute("src", '@Model.Pic_1');
        document.getElementById("pic_2").setAttribute("src", '@Model.Pic_1');

    </script>
    

        


   

} 
              
    <div class="row-fliud" id="demo">
        <div class="col-lg-12" style="  padding-top:15px;
                    padding-bottom:35px;
                    padding-right:25px;
                    padding-left:25px;  
                    -moz-box-shadow:3px 3px 5px 5px #ccc;
                    -webkit-box-shadow:3px 3px 5px 6px #ccc;
                    box-shadow:3px 3px 5px 5px rgb(184, 184, 184); 
                    background-color:rgb(224,224,224);
                    -moz-border-radius: 15px;
                    border-radius: 15px;">
            <div class="table-responsive">
                <table id="myDataTable" class="display">
                    <thead>
                        <tr style="color:#d5d7bf">
                            <th style="text-align:center">ID</th>
                            <th style="text-align:center">Landlord</th>
                            <th style="text-align:center">Title</th>
                            <th style="text-align:center">Street</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">

                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <br />
        <div class="row-fliud">
        <div class="col-lg-12 accordion-group"style="padding-top:15px;
                    padding-bottom:15px;
                    padding-right:25px;
                    padding-left:25px;  
                    -moz-box-shadow:3px 3px 5px 6px #ccc;
                    -webkit-box-shadow:3px 3px 5px 6px #ccc;
                    box-shadow:3px 3px 5px 5px rgb(184, 184, 184);
                    background-color:rgb(224,224,224);-moz-border-radius: 15px;
                    border-radius: 15px;">
            
            <img id="pic_0" style="padding-right: 5px;  max-width:150px;" src="https://cloud.google.com/images/solutions/landing/mobile-icon.png" />
            <img id="pic_1" style="padding-right: 5px; max-width: 150px;" src="https://cloud.google.com/images/solutions/landing/mobile-icon.png" />
            <img id="pic_2" style="padding-right: 5px; max-width: 150px;" src="https://cloud.google.com/images/solutions/landing/mobile-icon.png" />
        </div>
    </div>
       



