@model TV.web.ViewModels.ViewPostViewModel
@{
    ViewBag.Title = "Home";
}

<style>
    .shadow {
        -moz-box-shadow: 3px 3px 5px 6px #ccc;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;
        box-shadow: 3px 3px 5px 6px #ccc;
    }

    .captionheader{
        color:lightsalmon;
    }
    
     .captionOrange, .captionBlack {
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
    }

    .captionOrange {
        background: #EB5100;
        background-color: rgba(235, 81, 0, 0.6);
    }

    .captionBlack {
        font-size: 16px;
        background: #000;
        background-color: rgba(0, 0, 0, 0.4);
    }

    a.captionOrange, A.captionOrange:active, A.captionOrange:visited {
        color: #ffffff;
        text-decoration: none;
    }

        a.captionOrange:hover {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }

    .bricon {
        background: url(/Content/Slider/img/browser-icons.png);
    }
   
</style>

<link href="@Url.Content("~/Content/dataTables/Media/Css/demo_table.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jqueryUIsmoothness.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/RateIt/rateit.css")" rel="stylesheet" type="text/css" />






@section Scripts {

    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Slider/jssor.core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Slider/jssor.utils.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Slider/jssor.slider.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/RateIt/jquery.rateit.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/RateIt/jquery.rateit.min.js.map")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/IndexDataTable.js")" type="text/javascript"></script>
    
    

    <script>
        

        $(document).ready(function () {
            $('#showPanel').hide();
            $('#navTab').each(function () {
                $(this).removeClass('active');
            });

            $('#homeTab').addClass('active');
            $('#resetButton').hide();

            var _CaptionTransitions = [];
            _CaptionTransitions["L"] = { $Duration: 800, $FlyDirection: 1, $Easing: $JssorEasing$.$EaseInCubic };
            _CaptionTransitions["R"] = { $Duration: 800, $FlyDirection: 2, $Easing: $JssorEasing$.$EaseInCubic };
            _CaptionTransitions["T"] = { $Duration: 800, $FlyDirection: 4, $Easing: $JssorEasing$.$EaseInCubic };
            _CaptionTransitions["B"] = { $Duration: 800, $FlyDirection: 8, $Easing: $JssorEasing$.$EaseInCubic };
            _CaptionTransitions["TL"] = { $Duration: 800, $FlyDirection: 5, $Easing: $JssorEasing$.$EaseInCubic };
            _CaptionTransitions["TR"] = { $Duration: 800, $FlyDirection: 6, $Easing: $JssorEasing$.$EaseInCubic };
            _CaptionTransitions["BL"] = { $Duration: 800, $FlyDirection: 9, $Easing: $JssorEasing$.$EaseInCubic };
            _CaptionTransitions["BR"] = { $Duration: 800, $FlyDirection: 10, $Easing: $JssorEasing$.$EaseInCubic };

            _CaptionTransitions["WAVE|L"] = { $Duration: 1500, $FlyDirection: 5, $Easing: { $Left: $JssorEasing$.$EaseLinear, $Top: $JssorEasing$.$EaseOutWave }, $ScaleVertical: 0.4, $Round: { $Top: 2.5 } };
            _CaptionTransitions["MCLIP|B"] = { $Duration: 600, $Clip: 8, $Move: true, $Easing: $JssorEasing$.$EaseOutExpo };

            var options = {
                $AutoPlay: true,
                $AutoPlayInterval: 16000,                            //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);
        });

        function resetPics() {
            $.getJSON('@Url.Content("~/Home/ResetPictures/"+ Model.Pic_9.Id)', function (picList) {
                $.each(picList, function () {
                    JSON.stringify();
                })
                $('#resetButton').hide();
                $('#picButton').prop('disabled', false);
                for (var i = 0; i < picList.length; i++) {
                    $('#pic' + i).attr("src", picList[i].ImageUrl);
                    $('#pic_' + i).attr("href", "@Url.Action("viewpost","search")/" + picList[i].PostId);
                    $('#pic_' + i).attr("title", "Street: " + picList[i].Post.Street + "   LandLord: " + picList[i].Post.LandLord);
                }
            })
        };

        function Bookmark(postId) {           
                var Id = postId;
                $.ajax({
                    url: '@Url.Content("~/UserBookmark/Bookmark/")',
                    data: { postId: Id },
                    type: 'POST',
                    success: function (data) {
                        alert(data)
                    }   
                });    
        };
                
        var loggedIn = '@Request.IsAuthenticated';
        if (!loggedIn) {
            $('#bookmarkButton').hide();
        };

        var hiId; 
        var previouslyRun = false;
        function getPics() {
            var picList = new Array();
            if (!previouslyRun) {
                var picId = { picId: '@Model.Pic_9.Id' };
            } else {
                var picId = { picId: hiId };
            }
            previouslyRun = true;
            $.ajax({
                url: "@Url.Content("~/Home/MorePictures/")/" + picId,
                    type: "POST",
                    datatype: "JSON",
                    data: JSON.stringify(picId),
                    contentType: "application/json; charset=utf-8",
                    traditional: true,
                    success:
                        function (picList) {
                            var len = picList.length;

                            $.each(picList, function (){
                                    JSON.stringify();
                            })
                            if (picList.length < 10) {
                                $('#picButton').prop('disabled', true);
                                $('#resetButton').show();
                            }
                            hiId = picList[len - 1].Id;
                            for (var i = 0; i < picList.length; i++) {
                                $('#pic' + i).attr("src", picList[i].ImageUrl);
                                $('#pic_' + i).attr("href", "@Url.Action("viewpost","search")/" + picList[i].Post.Id);
                                $('#pic_' + i).attr("title", "Street: " + picList[i].Post.Street + "   LandLord: " + picList[i].Post.LandLord);
                            }
                    },
                    failure: function (response) {
                        console.log(response);
                    }
                });
        }

        function hideMe() {
            $('#panelSlider').hide();
            $('#showPanel').show();
        };
        function showMe() {
            $('#panelSlider').show();
            $('#showPanel').hide();
        }
    </script>

}
@if (!Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1" >
            <div id="showPanel" style="color:green; float:right;">
                <i class="fa fa-2x fa-times-circle" onclick="showMe()" style="align-content:center"></i>
            </div>
            <br />
            <div id="panelSlider"class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Welcome to Tenant's Village
                        <i id="sliderPanel" class="fa fa-times"  onclick="hideMe()" style="float:right;" ></i>
                    </div>
                </div>
                <div class="panel-body" style="padding-left: 15px; padding-bottom: 10px; padding-right: 15px;">
                    
                       
                    <div class="collapse in" id="slider">
                        
                        <div id="slider1_container" style="margin:auto; position: relative; width: 1300px; height: 600px;">
                            <!-- Slides Container -->
                            <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1300px; height: 600px; overflow: hidden;">
                                <!-- Slide -->
                                <div>
                                    <img u="image" src="@Url.Content("~/Content/Slider/img/landscape/slide-1.jpg")" />
                                    <div u="caption" t="MCLIP|B" t2="T" style="position: absolute; top: 250px; left: 0px;
                                width: 600px; height: 150px;">
                                        <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 150px;
                                    background-color: Black; opacity: 0.5; filter: alpha(opacity=50);">
                                        </div>
                                        <div style="position: absolute; padding-left:10px; padding-right:10px; top: 0px; left: 0px; width: 600px; height: 50px;
                                        color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: left;">
                                            @*Define both 't' and 't2': &lt;div u="caption" t="MCLIP|B" t2="T" ...&gt;&lt;div/&gt;*@
                                            Tenant's Village is your source for landlord and management company reviews.&nbsp; Reviews are posted by
                                            renters like you.&nbsp; Post the good and the bad, help people find the best place they can.
                                        </div>
                                    </div>
                                </div>
                                <!-- Slide -->
                                <div>
                                    <img u="image" src="@Url.Content("~/Content/Slider/img/landscape/02.jpg")" />
                                    <div u="caption" t="MCLIP|B" t2="T" style="position: absolute; top: 250px; left: 0px;
                                    width: 600px; height: 200px;">
                                        <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 200px;
                                    background-color: Black; opacity: 0.5; filter: alpha(opacity=50);">
                                        </div>
                                        <div style="position: absolute; padding-left: 10px; padding-right: 10px; top: 0px; left: 0px; width: 600px; height: 50px;
                                     color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: left;">
                                            @*Define both 't' and 't2': &lt;div u="caption" t="MCLIP|B" t2="T" ...&gt;&lt;div/&gt;*@
                                            Search reviews by Zip, City, Street, or Landlord.&nbsp; Look up a location before you sign the lease
                                            and find out what previous tenants thought.&nbsp; @Html.ActionLink("Register", "Register", "Account") an account
                                            and begin your search today, it's <b>FREE</b>.&nbsp; All it takes to @Html.ActionLink("Register", "Register", "Account") is an email address.
                                        </div>
                                    </div>
                                </div>
                                <!-- Slide -->
                                <div>
                                    <img u="image" src="@Url.Content("~/Content/Slider/img/landscape/03.jpg")" />
                                    <div u="caption" t="MCLIP|B" t2="T" style="position: absolute; top: 250px; left: 0px;
                                    width: 600px; height: 150px;">
                                        <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 150px;
                                        background-color: Black; opacity: 0.5; filter: alpha(opacity=50);">
                                        </div>
                                        <div style="padding-left: 10px; padding-right: 10px; position: absolute; top: 0px; left: 0px; width: 600px;
                                   height: 50px; color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: left;">
                                            @*Define both 't' and 't2': &lt;div u="caption" t="MCLIP|B" t2="T" ...&gt;&lt;div/&gt;*@
                                            When making a post you can rate the location from 0 to 10 stars, upload images, and show rent plus the amount
                                            of your desposit withheld.&nbsp; Also leave a description of your experience.&nbsp; Here is a sample
                                            @Html.ActionLink("POST", "Sample", "Post") .
                                        </div>
                                    </div>
                                </div>
                                <!-- Slide -->
                                <div>
                                    <img u="image" src="@Url.Content("~/Content/Slider/img/landscape/04.jpg")" />
                                    <div u="caption" t="MCLIP|B" t2="T" style="position: absolute; top: 250px; left: 0px;
                                width: 600px; height: 100px;">
                                        <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 100px;
                                    background-color: Black; opacity: 0.5; filter: alpha(opacity=50);">
                                        </div>
                                        <div style="padding-left: 10px; padding-right: 10px; position: absolute; top: 0px; left: 0px; width: 600px;
                                    height: 50px; color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: left;">
                                            @*Define both 't' and 't2': &lt;div u="caption" t="MCLIP|B" t2="T" ...&gt;&lt;div/&gt;*@
                                            Users can delete photos and upload more, edit your Posts including delete, and delete comments left on your Posts.
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <img u="image" src="@Url.Content("~/Content/Slider/img/landscape/05.jpg")" />
                                    <div u="caption" t="MCLIP|B" t2="T" style="position: absolute; top: 250px; left: 0px;
                                width: 600px; height: 200px;">
                                        <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 150px;
                                    background-color: Black; opacity: 0.5; filter: alpha(opacity=50);">
                                        </div>
                                        <div style="padding-left: 10px; padding-right: 10px; position: absolute; top: 0px; left: 0px; width: 600px;
                                     height: 50px; color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: left;">
                                            @*Define both 't' and 't2': &lt;div u="caption" t="MCLIP|B" t2="T" ...&gt;&lt;div/&gt;*@
                                            Users have access to a links section specializing in Landlord/Tenant information.&nbsp; Including
                                            City, State, and Federal sites dealing with tenant rights, legal aid, building code, and eviction.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
                </div>
            </div>
                <div class="col-lg-2"></div>
            </div>

            }

            <div class="row" id="demo" style="padding-left:12px; padding-right:18px;">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Search posts via Landlord and Street
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="myDataTable" class="display">
                                    <thead>
                                        <tr style="color:#d5d7bf">
                                            <th style="text-align:center">ID</th>
                                            <th style="text-align:center">Landlord</th>
                                            <th style="text-align:center">Title</th>
                                            <th style="text-align:center">Street</th>
                                            <th style="text-align:center">City</th>
                                            <th style="text-align:center">Zip Code</th>
                                            <th style="text-align:center">Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody style="text-align:center;"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-1">
                </div>
            </div>

            <div class="row visible-lg"></div>

            <div class="row" style="padding-left:12px; padding-right:18px;">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title">
                                The most recent pictures, click to see the post
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <a class="thumbnail" title="Street: @Model.Pic_0.Post.Street &nbsp&nbsp LandLord: @Model.Pic_0.Post.LandLord" href="@Url.Action("viewpost","search")/@Model.Pic_0.Post.Id" id="pic_0"><img id="pic0" class="img-rounded" src="@Model.Pic_0.ImageUrl" alt="https://cloud.google.com/images/solutions/landing/mobile-icon.png" style="width:95%; height: 160px; display:block" /></a>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <a class="thumbnail" title="Street: @Model.Pic_1.Post.Street &nbsp&nbsp LandLord: @Model.Pic_1.Post.LandLord" href="@Url.Action("viewpost","search")/@Model.Pic_1.Post.Id" id="pic_1"><img id="pic1" class="img-rounded" src="@Model.Pic_1.ImageUrl" alt="https://cloud.google.com/images/solutions/landing/mobile-icon.png" style="width: 95%; height: 160px; display: block" /></a>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <a class="thumbnail" title="Street: @Model.Pic_2.Post.Street &nbsp&nbsp LandLord: @Model.Pic_2.Post.LandLord" href="@Url.Action("viewpost","search")/@Model.Pic_2.Post.Id" id="pic_2"><img id="pic2" class="img-rounded" src="@Model.Pic_2.ImageUrl" alt="https://cloud.google.com/images/solutions/landing/mobile-icon.png" style="width: 95%; height: 160px; display: block" /></a>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <a class="thumbnail" title="Street: @Model.Pic_3.Post.Street &nbsp&nbsp LandLord: @Model.Pic_3.Post.LandLord" href="@Url.Action("viewpost","search")/@Model.Pic_3.Post.Id" id="pic_3"><img id="pic3" class="img-rounded" src="@Model.Pic_3.ImageUrl" alt="https://cloud.google.com/images/solutions/landing/mobile-icon.png" style="width: 95%; height: 160px; display: block" /></a>
                                </div>
                                @*<div class="col-xs-6 col-md-3">
                                        <a class="thumbnail" title="Street: @Model.Pic_4.Post.Street &nbsp&nbsp LandLord: @Model.Pic_4.Post.LandLord" href="@Url.Action("viewpost","search")/@Model.Pic_4.PostId" id="pic_4"><img id="pic4" class="img-rounded" src="@Model.Pic_4.ImageUrl" alt="https://cloud.google.com/images/solutions/landing/mobile-icon.png" style="width: 95%; height: 160px; display: block" /></a>
                                    </div>*@
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <a class="thumbnail" title="Street: @Model.Pic_5.Post.Street &nbsp&nbsp LandLord: @Model.Pic_5.Post.LandLord" href="@Url.Action("viewpost","search")/@Model.Pic_5.Post.Id" id="pic_5"><img id="pic5" class="img-rounded" src="@Model.Pic_5.ImageUrl" alt="https://cloud.google.com/images/solutions/landing/mobile-icon.png" style="width: 95%; height: 160px; display: block"></a>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <a class="thumbnail" title="Street: @Model.Pic_6.Post.Street &nbsp&nbsp LandLord: @Model.Pic_6.Post.LandLord" href="@Url.Action("viewpost","search")/@Model.Pic_6.Post.Id" id="pic_6"><img id="pic6" class="img-rounded" src="@Model.Pic_6.ImageUrl" alt="https://cloud.google.com/images/solutions/landing/mobile-icon.png" style="width: 95%; height: 160px; display: block" /></a>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <a class="thumbnail" title="Street: @Model.Pic_7.Post.Street &nbsp&nbsp LandLord: @Model.Pic_7.Post.LandLord" href="@Url.Action("viewpost","search")/@Model.Pic_7.Post.Id" id="pic_7"><img id="pic7" class="img-rounded" src="@Model.Pic_7.ImageUrl" alt="https://cloud.google.com/images/solutions/landing/mobile-icon.png" style="width: 95%; height: 160px; display: block" /></a>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <a class="thumbnail" title="Street: @Model.Pic_8.Post.Street &nbsp&nbsp LandLord: @Model.Pic_8.Post.LandLord" href="@Url.Action("viewpost","search")/@Model.Pic_8.Post.Id" id="pic_8"><img id="pic8" class="img-rounded" src="@Model.Pic_8.ImageUrl" alt="https://cloud.google.com/images/solutions/landing/mobile-icon.png" style="width: 95%; height: 160px; display: block" /></a>
                                </div>
                                @*<div class="col-xs-6 col-md-3">
                                        <a class="thumbnail" title="Street: @Model.Pic_9.Post.Street &nbsp&nbsp LandLord: @Model.Pic_9.Post.LandLord" href="@Url.Action("viewpost","search")/@Model.Pic_9.PostId" id="pic_9"><img id="pic9" class="img-rounded" src="@Model.Pic_9.ImageUrl" alt="https://cloud.google.com/images/solutions/landing/mobile-icon.png" style="width: 95%; height: 160px; display: block" /></a>
                                    </div>*@
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <button id="picButton" class="btn btn-primary" onclick="getPics(@Model.Pic_1.Id)">More Pics</button>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <button id="resetButton" class="btn btn-primary" onclick="resetPics(@Model.Pic_1.Id)">Reset Pics</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
            <div class="row visible-lg"></div>






