@model TV.web.ViewModels.UploadPicViewModel
 @using Microsoft.Web.Helpers;

   @using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { @encType = "multipart/form-data" }))
    {
        if (Model.ImageUrl != "")
        {
            <img src="@Model.ImageUrl"  style="width:100px;height:100px"/>
        }
          @FileUpload.GetHtml(initialNumberOfFiles:1, allowMoreFilesToBeAdded: false, includeFormTag: false, addText: "Add Files", uploadText: "Upload File")

     <br />
       <p>*upload one picture at a time.  After this one you can add more</p>
     <br />
     <input class="btn btn-primary" type="submit" name="submit" value="upload" />
       
         @Html.HiddenFor(m => m.PostId)
         @Html.HiddenFor(m => m.LeaseYear)
         @Html.HiddenFor(m => m.Title)
         @Html.HiddenFor(m => m.Post)
         @Html.HiddenFor(m => m.Rent) 
         @Html.HiddenFor(m => m.Deposit)
         @Html.HiddenFor(m => m.AmountKept)
         @Html.HiddenFor(m => m.Intersection)
         @Html.HiddenFor(m => m.LandLord)
         @Html.HiddenFor(m => m.LLemail)
     }
