<!DOCTYPE html>

<head>
    

    <meta charset="utf-8" />
    <title>Tenants Villige</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
   
    
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/bootstrapAdmin.css")
    @Styles.Render("~/Content/sb-admin.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        body
        {
            padding-top: 25px;
            padding-bottom:100px
        }
        .field-validation-error 
        {
            color: red;
        }

        .validation-summary-errors 
        {
            color: red;
        }    
    </style>


</head>

<body style="margin-top: 0px; padding-top: 0px;">
    <nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px;border-bottom:none !important;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">TenantsVillage</a>
        </div>


        <div class="collapse navbar-collapse navbar-ex1-collapse">
            @if (Request.IsAuthenticated)
            {
                <ul class="nav navbar-nav">
                    <li id="homeTab" class="navTab"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="@Url.Action("Links", "Home")"><i class="fa fa-external-link-square"></i>&nbsp;Links</a></li>
                    <li id="postTab" class="navTab dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil-square-o"></i>&nbsp;Posts<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="crPostTab"><a href="@Url.Action("Create", "Post")"><i class="fa fa-pencil"></i> Create New Post</a></li>
                            <li id="manageTab"><a href="@Url.Action("Manage", "Post", new { needStatusUpdate = false, statusMessage = 0}))"><i class="fa fa-wrench"></i> Manage Posts</a></li>
                        </ul>
                    </li>

                    <li id="userTab" class="navTab dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp; @Context.User.Identity.Name<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="userTab1"><a href="@Url.Action("ResetPassword", "Account")">Change Passord</a></li>
                            <li id="userTab2"><a href="@Url.Action("Disassociate", "Account")">Delete Account</a></li>
                            <li id="userTab3"><a href="@Url.Action("LogOff", "Account")">Log Off <i class="fa fa-power-off"></i> </a></li>
                        </ul>
                    </li>
                </ul>
            }

        <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav navbar-right navbar-user">
                <li>@Html.Partial("_LogonPartial")</li>
            </ul>
        </div>
    </nav>
       


    <div id="page-wrapper">

    

        @RenderBody()





        <br />
        <br />

    </div>
    <div class="row visible-lg visible-md"><br /><br /><br /></div> 
        <footer style="text-align: center; position: relative; margin-top: 75px; height: 150px; clear: both; padding-top: 20px;">
            <br />
            &copy; paradigm software 2010-@DateTime.Now.Year<br />
        </footer>




    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/jquery-2.0.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")"></script>
    @Scripts.Render("~/scripts/bootstrap.min.js")
    @RenderSection("Scripts", required: false)

    <script>
   
        //$('ul.nav li a').click(function (e) {
        //    console.log("yoyoyoyoy");
        //    $('ul li.active').removeclass('active')
        //    $(this).parent('li').addclass('active')
        //});

        //$('#sidenav li a').click(function (e) {
        //    console.log(this);
        //    $('ul.side-nav li.active').removeclass('active')
        //    $(this).parent('li').addclass('active')
        //})

        //$('#sideNav li a').click(function () {
        //    console.log(this);
        //    $('#sideNav li.active').removeClass('active');
        //    $(this).addClass('active');
        //})

    </script>

</body>

