<!DOCTYPE html>

<head>
    

    <meta charset="utf-8" />
    <title>Tenants Villige</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body
        {
            padding-top: 115px;
            padding-bottom:100px
        }
        
    </style>


</head>

        <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" style="background-color:lightgray" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">@Html.ActionLink("TenantsVillage", "Index", "Home")</a>
                </div>
            </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">

                        @* <--Items go here -->*@

                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        @Html.Partial("_LogonPartial")
                    </ul>

                </nav>
        </header>

        <div class="row-fluid" style="padding-bottom:80px">
            <div class="span12";
            -webkit-box-shadow: rgb(0,0,0,0.2) 0px 1px 4px 0px;
            box-shadow: rgb(128, 128, 128) 0px 4px 7px 0px; 
            -webkit-border-radius: 7px; border-radius: 7px;
            padding-top:15px;
            padding-bottom:15px;
            padding-right:25px;
            padding-left:45px; 
            border:2px solid blue;">
                
                @RenderBody()
            </div>
        </div>

   

    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/jquery-2.0.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")"></script>
    @Scripts.Render("~/scripts/bootstrap.js")
    @RenderSection("Scripts", required: false)

    <footer style="height:80px">
                <br />
                <div class="row" style="text-align:center;">
                    &copy; paradigm software 2010-@DateTime.Now.Year<br />
                    
                </div>
            </footer>

