<!DOCTYPE html>
<html lang="en">
<head>

    <script>
        $('ul.nav-tabs li a').click(function (e) {
            $('ul.nav-tabs li.active').removeClass('active')
            $(this).parent('li').addClass('active')
        })
    </script>


    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" style="background-color:lightgray" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Content("~/Home/Index")" class="navbar-brand">TenantsVillage</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">

                @* <--Items go here -->*@

            </ul>


            <ul class="nav navbar-nav navbar-right">
                @Html.Partial("_LogonPartial")
            </ul>

        </nav>
</header>
<div style="padding-top:100px;" class="container">
    @if (Request.IsAuthenticated)
    {
        <ul class="nav nav-tabs" id="navTabs">
            <li id="homenav_js"><a href="@Url.Content("~/Home/Index")">Home</a></li>
            <li id="profilenav_js"><a href=@Url.Content("~/Account/Manage")>Profile</a></li>
            <li id="profilenav_js"><a href=@Url.Content("~/Post/Create")>New Post</a></li>
            
        </ul>
        <br />
        <br />
    }
    @RenderSection("featured", required: false)
    <section>
        @RenderBody()
    </section>

</div>
<footer>
    <div class="content-wrapper">
        <div class="float-left">
            <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
        </div>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/bootstrap.js")
@RenderSection("scripts", required: false)

</html>
