@if (Request.IsAuthenticated) {
    <p style="color:black; padding-left: 9px;">Welcome,<b><a style=" color:blue;  padding-right: 9px;" href='@Url.Content("~/account/manage")'>@Context.User.Identity.Name</a></b><br />
     @Html.ActionLink("Log Off", "LogOff", "Account") </p>
}
else {
    @: @Html.ActionLink("Login", "Login", "Account") <br />
    @: @Html.ActionLink("Register", "Register", "Account") <br />
    
}