@model TV.web.ViewModels.ViewPostViewModel


<html>
<body>
    <div class="row">
        <div class="span4">
            @Html.LabelFor(m => m.ComViewModel.Author)
            &nbsp @Html.DisplayFor( m => m.ComViewModel.Author)
        </div>
        <div class="span4">
            @Html.LabelFor(m => m.ComViewModel.EntryDate)
            &nbsp @Html.DisplayFor(m => m.ComViewModel.EntryDate)
        </div>

    </div>
    <br />
    <br />
    <div class="row">
        <div class="span4">
            &nbsp @Html.DisplayFor(m => m.ComViewModel.Body)
        </div>


    </div>
    <br />


</body>
</html>