@model TV.web.ViewModels.UploadPicViewModel
@{
    ViewBag.Title = "ConfirmPost";
}

<h2>ConfirmPost</h2>
<br />
<br />
@using (Html.BeginForm()) {
 <div class="row">
        <div class="span3">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
        </div>
    </div>
<div class="row">
    <div class="span4">
        <em>@Html.LabelFor(m => m.LandLord)</em>
        &nbsp&nbsp @Html.EditorFor(m => m.LandLord)
    </div>
    <div class="span5">
        <em>@Html.LabelFor(m => m.LLemail)</em>
        &nbsp&nbsp @Html.EditorFor(m => m.LLemail)
    </div>
</div>
<br />
<div class="row">
    <div class="span4">
        @Html.LabelFor(m => m.Rent)
        <div class="input-prepend input-append">
            <span class="add-on"><b style="color: green">$</b></span>@Html.TextBoxFor(model => model.Rent, new { @class = "span2" })<span class="add-on"><b style="color: green">.00</b></span>
            @Html.ValidationMessageFor(model => model.Rent)
        </div>
    </div>
    <div class="span4">
        @Html.LabelFor(m => m.Deposit)
        <div class="input-prepend input-append">
            <span class="add-on"><b style="color: green">$</b></span>@Html.TextBoxFor(model => model.Deposit, new { @class = "span2" })<span class="add-on"><b style="color: green">.00</b></span>
            @Html.ValidationMessageFor(model => model.Deposit)
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="span4">
        <em>@Html.LabelFor(m => m.LeaseYear)</em>
        &nbsp&nbsp @Html.EditorFor(m => m.LeaseYear)
    </div>
    <div class="span4">
        @Html.LabelFor(m => m.AmountKept)
        <div class="input-prepend input-append">
            <span class="add-on"><b style="color: red">$</b></span>@Html.TextBoxFor(model => model.AmountKept, new { @class = "span2" })<span class="add-on"><b style="color: red">.00</b></span>
            @Html.ValidationMessageFor(model => model.AmountKept)
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="span3">
        <em>@Html.LabelFor(m => m.Post)</em>
        &nbsp&nbsp @Html.TextAreaFor(m => m.Post, new { @cols = 80, @rows = 10 })
    </div>
</div>
    if (Model.AlreadyUploaded)
    {
    <div class="row">
        <div class="span5">
            <p>* pictures that were just uploaded will not be displayed until the post is confirmed</p>
        </div>
    </div>
        <br />
    }
    if (Model.Urls != null)
    {
        foreach (var x in Model.Urls)
        {
            <br />
            <div class="row">
                 <div class="span10">
                     
                    <img src="@x"  style="width:500px;height:300px"/>
                     
                 </div>
            </div>
        }
    }
    

<br />
    @Html.HiddenFor(p => p.PostId)
    if (Model.AlreadyUploaded == false)
    {
        <a class="btn btn-primary" href="~/post/create/@Model.PostId">Attach a Picture</a>
    }else{
        <a class="btn btn-primary" href="~/post/create/@Model.PostId">Attach more Pictures</a>
    }
    <br />
    <br />
        <a class="btn btn-primary" href="~/post/completed/@Model.PostId">Confirm Your Post</a>
    <br />
    <br />
        <a class="btn" href='~/account/manage'>Cancel</a>
  
}  
    
    

